/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$18_name = '18';
$18_x = 54px;
$18_y = 108px;
$18_offset_x = -54px;
$18_offset_y = -108px;
$18_width = 52px;
$18_height = 47px;
$18_total_width = 188px;
$18_total_height = 162px;
$18_image = '../../img/sprites/spritesheet.png';
$18 = 54px 108px -54px -108px 52px 47px 188px 162px '../../img/sprites/spritesheet.png' '18';
$class_icon_name = 'class_icon';
$class_icon_x = 162px;
$class_icon_y = 50px;
$class_icon_offset_x = -162px;
$class_icon_offset_y = -50px;
$class_icon_width = 25px;
$class_icon_height = 25px;
$class_icon_total_width = 188px;
$class_icon_total_height = 162px;
$class_icon_image = '../../img/sprites/spritesheet.png';
$class_icon = 162px 50px -162px -50px 25px 25px 188px 162px '../../img/sprites/spritesheet.png' 'class_icon';
$facebook_icon_name = 'facebook_icon';
$facebook_icon_x = 162px;
$facebook_icon_y = 75px;
$facebook_icon_offset_x = -162px;
$facebook_icon_offset_y = -75px;
$facebook_icon_width = 25px;
$facebook_icon_height = 25px;
$facebook_icon_total_width = 188px;
$facebook_icon_total_height = 162px;
$facebook_icon_image = '../../img/sprites/spritesheet.png';
$facebook_icon = 162px 75px -162px -75px 25px 25px 188px 162px '../../img/sprites/spritesheet.png' 'facebook_icon';
$footer_item_1_name = 'footer_item_1';
$footer_item_1_x = 0px;
$footer_item_1_y = 54px;
$footer_item_1_offset_x = 0px;
$footer_item_1_offset_y = -54px;
$footer_item_1_width = 54px;
$footer_item_1_height = 54px;
$footer_item_1_total_width = 188px;
$footer_item_1_total_height = 162px;
$footer_item_1_image = '../../img/sprites/spritesheet.png';
$footer_item_1 = 0px 54px 0px -54px 54px 54px 188px 162px '../../img/sprites/spritesheet.png' 'footer_item_1';
$footer_item_2_name = 'footer_item_2';
$footer_item_2_x = 54px;
$footer_item_2_y = 54px;
$footer_item_2_offset_x = -54px;
$footer_item_2_offset_y = -54px;
$footer_item_2_width = 54px;
$footer_item_2_height = 54px;
$footer_item_2_total_width = 188px;
$footer_item_2_total_height = 162px;
$footer_item_2_image = '../../img/sprites/spritesheet.png';
$footer_item_2 = 54px 54px -54px -54px 54px 54px 188px 162px '../../img/sprites/spritesheet.png' 'footer_item_2';
$footer_item_3_name = 'footer_item_3';
$footer_item_3_x = 108px;
$footer_item_3_y = 0px;
$footer_item_3_offset_x = -108px;
$footer_item_3_offset_y = 0px;
$footer_item_3_width = 54px;
$footer_item_3_height = 54px;
$footer_item_3_total_width = 188px;
$footer_item_3_total_height = 162px;
$footer_item_3_image = '../../img/sprites/spritesheet.png';
$footer_item_3 = 108px 0px -108px 0px 54px 54px 188px 162px '../../img/sprites/spritesheet.png' 'footer_item_3';
$footer_item_4_name = 'footer_item_4';
$footer_item_4_x = 0px;
$footer_item_4_y = 0px;
$footer_item_4_offset_x = 0px;
$footer_item_4_offset_y = 0px;
$footer_item_4_width = 54px;
$footer_item_4_height = 54px;
$footer_item_4_total_width = 188px;
$footer_item_4_total_height = 162px;
$footer_item_4_image = '../../img/sprites/spritesheet.png';
$footer_item_4 = 0px 0px 0px 0px 54px 54px 188px 162px '../../img/sprites/spritesheet.png' 'footer_item_4';
$footer_item_5_name = 'footer_item_5';
$footer_item_5_x = 0px;
$footer_item_5_y = 108px;
$footer_item_5_offset_x = 0px;
$footer_item_5_offset_y = -108px;
$footer_item_5_width = 54px;
$footer_item_5_height = 54px;
$footer_item_5_total_width = 188px;
$footer_item_5_total_height = 162px;
$footer_item_5_image = '../../img/sprites/spritesheet.png';
$footer_item_5 = 0px 108px 0px -108px 54px 54px 188px 162px '../../img/sprites/spritesheet.png' 'footer_item_5';
$footer_item_6_name = 'footer_item_6';
$footer_item_6_x = 108px;
$footer_item_6_y = 54px;
$footer_item_6_offset_x = -108px;
$footer_item_6_offset_y = -54px;
$footer_item_6_width = 54px;
$footer_item_6_height = 54px;
$footer_item_6_total_width = 188px;
$footer_item_6_total_height = 162px;
$footer_item_6_image = '../../img/sprites/spritesheet.png';
$footer_item_6 = 108px 54px -108px -54px 54px 54px 188px 162px '../../img/sprites/spritesheet.png' 'footer_item_6';
$footer_item_7_name = 'footer_item_7';
$footer_item_7_x = 54px;
$footer_item_7_y = 0px;
$footer_item_7_offset_x = -54px;
$footer_item_7_offset_y = 0px;
$footer_item_7_width = 54px;
$footer_item_7_height = 54px;
$footer_item_7_total_width = 188px;
$footer_item_7_total_height = 162px;
$footer_item_7_image = '../../img/sprites/spritesheet.png';
$footer_item_7 = 54px 0px -54px 0px 54px 54px 188px 162px '../../img/sprites/spritesheet.png' 'footer_item_7';
$insta_icon_name = 'insta_icon';
$insta_icon_x = 162px;
$insta_icon_y = 0px;
$insta_icon_offset_x = -162px;
$insta_icon_offset_y = 0px;
$insta_icon_width = 26px;
$insta_icon_height = 25px;
$insta_icon_total_width = 188px;
$insta_icon_total_height = 162px;
$insta_icon_image = '../../img/sprites/spritesheet.png';
$insta_icon = 162px 0px -162px 0px 26px 25px 188px 162px '../../img/sprites/spritesheet.png' 'insta_icon';
$up_name = 'up';
$up_x = 106px;
$up_y = 108px;
$up_offset_x = -106px;
$up_offset_y = -108px;
$up_width = 32px;
$up_height = 32px;
$up_total_width = 188px;
$up_total_height = 162px;
$up_image = '../../img/sprites/spritesheet.png';
$up = 106px 108px -106px -108px 32px 32px 188px 162px '../../img/sprites/spritesheet.png' 'up';
$vk_icon_name = 'vk_icon';
$vk_icon_x = 162px;
$vk_icon_y = 25px;
$vk_icon_offset_x = -162px;
$vk_icon_offset_y = -25px;
$vk_icon_width = 26px;
$vk_icon_height = 25px;
$vk_icon_total_width = 188px;
$vk_icon_total_height = 162px;
$vk_icon_image = '../../img/sprites/spritesheet.png';
$vk_icon = 162px 25px -162px -25px 26px 25px 188px 162px '../../img/sprites/spritesheet.png' 'vk_icon';
$spritesheet_width = 188px;
$spritesheet_height = 162px;
$spritesheet_image = '../../img/sprites/spritesheet.png';
$spritesheet_sprites = $18 $class_icon $facebook_icon $footer_item_1 $footer_item_2 $footer_item_3 $footer_item_4 $footer_item_5 $footer_item_6 $footer_item_7 $insta_icon $up $vk_icon;
$spritesheet = 188px 162px '../../img/sprites/spritesheet.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
